.navBar {
    background-color: #483c4f;

    display: flex;
    width: 100%;
    padding: 0.2em;

    font-size: 1.6em;
    border-bottom: 1px solid;

}

.navBarLeft,
.navBarCenter,
.navBarRight {
    flex: 1;

}

.navBarLeft {
    justify-content: flex-start;
    margin-left: 1em;
}

.navBarCenter {
    justify-content: center;
}

.navBarRight {
    justify-content: flex-end;
}


.link{
    text-decoration: none;
    background-color: #52344d;
    padding: 0.15em;
    border-radius: 20px;

    color: #322131;
    cursor: pointer;
}
.link:hover {
  color: #645170;
}

.homeIcon{
    size:20;
    width: 1.5;
}