.searchBar{
    background-color: #7a6289;

    text-align: center;

    font-size: 0.7em;
    width: 90%;
  
    border-radius: 20px;
    margin: 0.2em;
}

.searchIcon{
  size:20 ;
  Width: 1.5;
}

input::placeholder {
  color: rgb(31, 29, 29);
}